.homepage-hero {
  background-color: #1f2937;
  padding-bottom: 50px;
  border-radius: 3px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation a {
  text-decoration: none;
  color: #e5e7eb;
  padding: 5px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}
.navigation-links {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  font-size: 18px;
}

.slideshow-container {
  max-width: 1000px;
  margin: auto;
}
.slideshow-container .slide-image {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slide-number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Fading animation */
.fade {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  max-width: 80%;
}
.description-title {
  max-width: 60%;
}
.homepage-description h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: -15px;
}
.homepage-description p {
  color: #e5e7eb;
  font-size: 18px;
  text-align: left;
}
.homepage-description button {
  color: #f9faf8;
  background-color: #3882f6;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #3882f6;
  border-radius: 3px;
}

.products-section {
  text-align: center;
  padding: 40px;
}
.products-section h3 {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.products-section .products-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.products-section ul {
  list-style-type: none;
  padding-left: 0;
  max-width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.products-list img {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.reviews-section {
  color: #1f2937;
  background-color: #e5e7eb;
  border-radius: 3px;
  font-size: 26px;
  font-weight: lighter;
  font-style: italic;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.reviews-section p {
  max-width: 60%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
}
.footer footer {
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.footer .footer-description {
  max-width: 65%;
}
.footer-description p {
  color: #f9faf8;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.footer-description small {
  color: #e5e7eb;
  font-size: 15px;
}
.footer button {
  color: #3882f6;
  background-color: #f9faf8;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #3882f6;
  border-radius: 5px;
}
