.homepage-hero {
  background-color: #1f2937;
  padding-bottom: 50px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation a {
  text-decoration: none;
  color: #e5e7eb;
  padding: 5px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}
.navigation-links {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  font-size: 18px;
}

.homepage-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}
.description-title {
  max-width: 60%;
}
.homepage-description h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: -15px;
}
.homepage-description p {
  color: #e5e7eb;
  font-size: 18px;
  text-align: left;
}
.homepage-description button {
  color: #f9faf8;
  background-color: #3882f6;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #3882f6;
  border-radius: 3px;
}

.products-section {
  text-align: center;
}
.products-section h3 {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.products-section .products-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.products-section ul {
  list-style-type: none;
  padding-left: 0;
  max-width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.reviews-section {
  color: #1f2937;
  background-color: #e5e7eb;
  font-size: 26px;
  font-weight: lighter;
  font-style: italic;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.reviews-section p {
  max-width: 60%;
}

.footer {
  border: 1px solid black;
}
